.App {
  text-align: center;
  /* background-color: #282c34; */
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  /* color: white; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.main
{
  /* background-color: #282c34; */
  height:100vh;
  width:50vw;
  display:flex;
  flex-direction: column;
  /* dis */
  justify-content: center;
  align-items: center;
  border:1px solid black;
}

.compimg
{
  margin-bottom:10vh;
}
.main img
{
  width:40%;
  height:auto;
}


@media only screen and (max-width: 768px) {
  .main img
  {
    width:60%;
    height:auto;
  }
}
